[{sasl,[{errlog_type,error}]},
 {agora_bot,[{endpoint,<<"https://discordapp.com/api">>},
             {login,<<"/auth/login">>},
             {gateway,<<"/gateway">>},
             {channels,<<"/channels/">>},
             {token,<<"MjE5MzU5MTk4MTU1MjQzNTIx.CqQmIQ.DPfgdWIFfuFLehRWH8QFFZeeGiA">>}]}].
